html {
  height: 320px;
  width: 320px;
  background-color: rgb(143, 25, 109);
}

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  background-color: #cfcfcf;
  margin: 5px;
  aspect-ratio: 1;
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.scores-container {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-around;
}

.score,
.hi-score {
  display: flex;
  align-items: center;
}

.game-container {
  width: min-content;
}

.game-over-container {
  position: absolute;
  top: 160px;
  z-index: 99;
  color: #fd0000;
  text-shadow: 2px 2px 2px #000000;
  background-color: #929292ad;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.game-over-container > h1 {
  font-size: 30px;
  margin: 0px;
}

.game-over-container > span {
  font-size: 20px;
  margin: 0px;
}

.greentext {
  color: #00830b;
}

.redtext {
  color: #fd0000;
}

.game-title-container {
  font-size: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
