body {
  height: 320px;
  width: 320px;
  background-color: rgb(212, 212, 212);
  border: 2px solid;
  border-radius: 10px;
  /* padding: 10px; */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.scores-container {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-around;
}

.score,
.hi-score {
  display: flex;
  align-items: center;
}

.game-container {
  width: min-content;
}
